@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}

/* html {
  scroll-behavior: smooth;
} */

.carousal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
