@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}

/* carousel animate hover state */
.scroll:hover{
  animation-play-state: paused;
}

@layer utilities {

  /* .text-gradient{
    @apply bg-clip-text text-transparent bg-gradient-to-b from-[#904BF6] to-[#CFB2FA]
  }

  .bg-gradient{
    @apply bg-gradient-to-b from-[#904BF6] to-[#CFB2FA]
  }

  .bg-black-gradient{
    @apply bg-gradient-to-b from-[#141313] to-[#414141]
  } */

  .padding-variable{
    @apply space-y-3 md:space-y-4
    /* @apply p-6 md:p-10 lg:p-[60px] space-y-3 md:space-y-4 */
  }

}

/* body::-webkit-scrollbar {
  width: 0.4em;
} */
body{
  background: #17092c;
}
body,
.carousal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: default;
  outline: 1px solid #904BF6;
}

/* Swiper JS */

/* Coverflow Effect */
.swiper-slide {
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Effect cards */
.swiper-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slider:nth-child(1n) {
  background-color: #7943f2;
  color: default;
}

.swiper-slider:nth-child(2n-1) {
  background-color: #231536;
  color: default;
}

/* Group Skip Sliders */
.swiper-button-next, 
.swiper-button-prev{
  background-color: #904BF6;
  color: default !important;
  padding: 30px;
  border-radius: 30px;
}

/* @media only screen and (max-width: 640px) {
  .swiper-button-next, 
  .swiper-button-prev{
    display: none !important;
}
} */

/* .swiper-button-next{
  bottom: 25px!important;
  right: 25px!important;
} */

/* CSS Styles for social media */

/* .swiper-wrapper{
  gap: 30px;
} */

/* @media only screen and (min-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }

} */

/* .button-next{
  background-color: blue;
  color: default !important;
  padding: 30px;
  border-radius: 30px;
} */
